<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DiagBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <DiagBox.Properties.Settings>
            <setting name="RecentToolFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value />
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="SerialBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="SerialDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SerialParity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialStopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SerialReadTimeout" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SerialWriteTimeout" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IntrepidDevice" serializeAs="String">
                <value />
            </setting>
			<setting name="SerialPortType" serializeAs="String">
				<value>Standard</value>
			</setting>
            <setting name="FlushToUI" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FlushToFile" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TraceFilePath" serializeAs="String">
                <value>log.txt</value>
            </setting>
            <setting name="RollingAfter" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="KvaserDevice" serializeAs="String">
                <value />
            </setting>
			<setting name="TransmitAdress" serializeAs="String">
				<value>0x7E0</value>
			</setting>
			<setting name="ReceiveAdress" serializeAs="String">
				<value>0x7E8</value>
			</setting>
			<setting name="BlockSize" serializeAs="String">
				<value>0xA</value>
			</setting>
			<setting name="StMin" serializeAs="String">
				<value>0x10</value>
			</setting>
			<setting name="PaddingByte" serializeAs="String">
				<value>0x00</value>
			</setting>
        </DiagBox.Properties.Settings>
    </userSettings>
  <log4net>
    <appender name="AllRollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\dev.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="25MB"/>
      <maxSizeRollBackups value="10"/>
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yy-MM-dd HH:mm:ss.fff} [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="AllRollingFile"/>
    </root>
  </log4net>
</configuration>
